log/
.vagrant
*.retry
*.swp
*.log
ansible/inventory*.ini
extra-vars.yml
*.settings.py.j2
Vagrantfile
*.Vagrantfile
!example.Vagrantfile
*.env

rack/
rackenv/
rack
settings.json
.env
creds.ini
*.retry
json.json
.raxrc
servers-description.log
compare.md
